<!-- Sidebar -->
        <ul class="navbar-nav bg-primary sidebar sidebar-dark " id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Welcome </div>
            </a>
			
			
			{% if data.role == 'Admin' %}
			
			<!-- Divider -->
            <hr class="sidebar-divider my-2	">
				{% if data.page == 'user-details' or data.page=='user-list' %}
				<li class="nav-item ml-5">
					<a class="nav-link" href="/admin/user-list">
						<i class="fas fa-users text-white"></i>
					  <span	><b class="text-white ">Users</b></span></a>
				</li>
				{% else %}
				<li class="nav-item ml-5">
					<a class="nav-link" href="/admin/user-list">
						<i class="fas fa-users"></i>
					  <span	>Users</span></a>
				</li>
				{% endif %}
			{% endif %}
			
			{% if data.role == 'Project Manager' %}
			
			<!-- Divider -->
            <hr class="sidebar-divider my-2	">
				{% if data.page == 'manager_mainpage' %}
				<li class="nav-item ml-5">
					<a class="nav-link" href="/manager-dashboard">
						<i class="fas fa-users text-white"></i>
					  <span	><b class="text-white ">Dashboard</b></span></a>
				</li>
				{% else %}
				<li class="nav-item ml-5">
					<a class="nav-link" href="/manager-dashboard">
						<i class="fas fa-users "></i>
					  <span	>Dashboard</span></a>
				</li>
				{% endif %}
			{% endif %}
			
			
            <!-- Divider -->
            <hr class="sidebar-divider my-2	">

            <!-- Nav Item - Dashboard -->
			{% if data.page == 'manager_tickets' or data.page =='ticket_detail' or data.page=='tickets' or data.page=='assignedtickets' or data.page=='submittedtickets'%}
				<li class="nav-item ml-5">
					<a class="nav-link" href="../tickets">
						<i class="fas fa-fw fa-table text-white"></i>
					  <span	><b class="text-white ">Tickets</b></span></a>
				</li>
			{% else %}
					<li class="nav-item ml-5">
					<a class="nav-link" href="../tickets">
						<i class="fas fa-fw fa-table"></i>
					  <span	>Tickets</span></a>
				</li>

			{% endif %}
            
			
			{% if data.role != 'User' %}
			
			<!-- Divider -->
            <hr class="sidebar-divider my-2">
			
				{% if data.page == 'projects' or data.page=='project_detail' %}
				<li class="nav-item ml-5 mb-2">
					<a class="nav-link" href="../projects">
						<i class="fa fa-tasks text-white"></i>
					  <span	><b class="text-white ">Projects</b></span></a>
				</li>
				{% else %}
				<li class="nav-item ml-5 mb-2">
					<a class="nav-link" href="../projects">
						<i class="fa fa-tasks"></i>
					  <span	>Projects</span></a>
				</li>
				{% endif %}
			{% endif %}
			<!-- Divider -->
            <hr class="sidebar-divider">

        </ul>
        <!-- End of Sidebar -->