<!-- DataTales Example -->
                    <div class="card shadow mb-4">
						{% if data.page == 'ticket_detail'  %}
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">

							Ticket Details
	
							</h6>
                        </div>
						{% elif data.role == 'User' %}
						<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">

							Tickets
	
							</h6>
                        </div>
						{% endif %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered medium" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<!--
											{% if data.page=='tickets' or data.page == 'assignedtickets' or data.page == 'submittedtickets' %}
											<th>Days since creation</th>-->
											{% endif %}
                                            <th>Ticket Id</th>
                                            <th>Title</th>
                                            <th>Description</th>
											{% if data.page == 'ticket_detail' %}
												<th>Developer</th>
											{% endif %}
                                            <th>Project</th>
                                            <th>Priority</th>
                                            <th>Status</th>
											<th>Type</th>
											<th>Create Date</th>
											<th>Closed Date</th>
											{% if data.page != 'ticket_detail' %}<th></th>{% endif %}
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
									{% for t in data.ticket %}
                                        <tr>
											<!--{% if data.page=='tickets' or data.page == 'assignedtickets' or data.page == 'submittedtickets' %}
											<td>{{t.datediff}}</td>
											{% endif %} -->
                                            <td>{{ t.id }}</td>
                                            <td>{{ t.title }}</td>
                                            <td>{{ t.desc }}</td>
											{% if data.page == 'ticket_detail' %}
												<td>{{ t.user_id }}
												</td>
											{% endif %}
                                            <td>{{ t.p_id }}</td>
                                            <td>{{ t.priority }}</td>
											{% if t.status =='Open' %}
												<td ><div class="open_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>
											{% elif t.status == 'In progress' %}
												<td ><div class="progress_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>
											{% elif t.status == 'Closed' %}
												<td ><div class="closed_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>
											{% endif %}
											<td>{{ t.type }}</td>
                                            <td>{{ t.create_date }}</td>
                                            <td>{{ t.close_date }}</td>
											{% if data.page != 'ticket_detail' %}<td><b><a href="/ticketdetails/{{t.id}}" >Details</a></b></td>{% endif %}
                                        </tr>
                                    {% endfor %}    
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>