<!-- DataTales Example -->
                    <div class="card shadow mb-4">
						{% if data.page == 'ticket_detail'  %}
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">

							Ticket Details
	
							</h6>
                        </div>
						{% elif data.role == 'User' %}
						<div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">

							Tickets
	
							</h6>
                        </div>
						{% endif %}
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered medium" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
											<!--
											{% if data.page=='tickets' or data.page == 'assignedtickets' or data.page == 'submittedtickets' %}
											<th>Days since creation</th>
											{% endif %}-->
                                            <th>Ticket Id</th>
                                            <th>Title</th>
                                            <th>Description</th>
											{% if data.page == 'ticket_detail' %}
												<th>Developer</th>
											{% endif %}
                                            <th>Project</th>
                                            <th>Priority</th>
                                            <th>Status</th>
											<th>Type</th>
											<th>Create Date</th>
											<th>Closed Date</th>
											{% if data.page != 'ticket_detail' %}<th></th>{% endif %}
											{% if data.role == 'Admin' and data.page=='ticket_detail' %}<th></th>{% endif %}
                                        </tr>
                                    </thead>
                                    
                                    <tbody>
									{% for t in data.ticket %}
                                        <tr>
											<!--{% if data.page=='tickets' or data.page == 'assignedtickets' or data.page == 'submittedtickets' %}
											<td>{{t.datediff}}</td>
											{% endif %} -->
                                            <td>{{ t.id }}</td>
                                            <td>{{ t.title }}</td>
                                            <td>{{ t.desc }}</td>
											{% if data.page == 'ticket_detail' %}
												<td>{{ t.user_id }}
												</td>
											{% endif %}
                                            <td>{{ t.p_id }}</td>
                                            <td>{{ t.priority }}</td>
											
											
											<!-- STATUS -->
											{% if data.page == 'ticket_detail' and (data.role=='Developer' or data.role=='Project Manager')%}
												{% if t.status =='Open' %}
													<td ><button id="myBtn" class="open-click-button  ml-2 mr-2 mt-1 mb-1">{{ t.status }}</button></td>
												{% elif t.status == 'Progress' %}
													<td ><button id="myBtn" class="progress-click-button  ml-2 mr-2 mt-1 mb-1">{{ t.status }}</button></td>
												{% elif t.status == 'Closed' %}
													<td ><button id="myBtn" class="closed-click-button  ml-2 mr-2 mt-1 mb-1">{{ t.status }}</button></td>
												{% endif %}
												
												<!-- The Popup -->
													<div id="myModal" class="modal1">
													
													  <!-- Popup content -->
													  <div class="modal-content-1">
													  {% if data.assigned_dev == data.user_id%}
														<form action="/update-ticket-status" method="POST" class="form-container">

															<br/>
															<fieldset>
															<h6> Update Status to : </h6>
															<div class="item">
																<input type="submit" class="open_btn  ml-2 mr-2 mt-1 mb-1" name="input" href="/" value="Open">
																<input type="submit" class="progress_btn  ml-2 mr-2 mt-1 mb-1" name="input" href="/" value="Progress">
																<input type="submit" class="closed_btn  ml-2 mr-2 mt-1 mb-1" name="input" href="/" value="Closed">
																<input type="hidden" name="ticket_id" value="{{t.id}}" />
																<input type="hidden" name="p_name" value="{{t.p_id}}" />
															</div>
															</fieldset>
														 </form>
														 {% else %}
														 Only personnel assigned to this ticket can change status!
														 {% endif %}
													  </div>
														
														
													</div>
												
												
												
												
												
											{%else %}
											
												{% if t.status =='Open' %}
													<td ><div class="open_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>	
												{% elif t.status == 'Progress' %}
													<td ><div class="progress_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>
												{% elif t.status == 'Closed' %}
													<td ><div class="closed_btn  ml-2 mr-2 mt-1 mb-1"><b>{{ t.status }}</b></div></td>
												{% endif %}
											{% endif %}
											<!-- END OF STATUS -->
											
											
											
											<td>{{ t.type }}</td>
                                            <td>{{ t.create_date }}</td>
                                            <td>{{ t.close_date }}</td>
											{% if data.page != 'ticket_detail' %}<td><b><a href="/ticketdetails/{{t.id}}" >Details</a></b></td>{% endif %}
											
													{% if data.role == 'Admin' and data.page=='ticket_detail' %}<td><b>
													<a href="/admin/edit-ticket/{{t.id}}" >
													Edit
													</a>&nbsp &nbsp
													<a href="/admin/delete-ticket/{{t.id}}" onclick="return confirm('Are you sure you want to delete this item?');">
													Delete
													</a></b></td>
													{% endif %}
                                        </tr>
                                    {% endfor %}    
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>