<!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                
                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

						{% if data.role!='Admin' %}
                        <!-- Nav Item - Alerts -->
                        <li class="nav-item dropdown no-arrow mx-1">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter">{{data.notification_count}}</span>
                            </a>
							
							
							
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notifications Center
                                </h6>
								<!-- NOTIFICATIONS FOR USER ASSIGNMENT  -->
								{% for n in data.notification %}
								{% if n.n_type == 'Assigned' %}
								<a class="dropdown-item d-flex align-items-center" href="/deletenotification?ticket_id={{ n.t_id }}&n_id={{ n.n_id }}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-warning">
                                            <i class="fas fa-exclamation-triangle text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 2, 2019</div>
                                        You have been assigned to ticket no {{n.t_id}}
                                    </div>
                                </a>
								{% endif %}
								{% endfor %}
								
								<!-- NOTIFICATIONS FOR TICKET UPDATES  -->
								{% for n in data.notification %}
								{% if n.n_type == 'Update' %}
                                <a class="dropdown-item d-flex align-items-center" href="/deletenotification?ticket_id={{ n.t_id }}&n_id={{ n.n_id }}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold"> Information for ticket Id : {{n.t_id}} has been updated </span>
                                    </div>
                                </a>
								{% endif %}
                                {% endfor %}
								<!-- NOTIFICATIONS FOR NEW TICKETS  -->
								{% for n in data.notification %}
								{% if n.n_type == 'New' %}
                                <a class="dropdown-item d-flex align-items-center" href="/deletenotification?ticket_id={{ n.t_id }}&n_id={{ n.n_id }}">
                                    <div class="mr-3">
                                        <div class="icon-circle bg-primary">
                                            <i class="fas fa-file-alt text-white"></i>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="small text-gray-500">December 12, 2019</div>
                                        <span class="font-weight-bold"> New ticket with ticket id : {{n.t_id}} has been created </span>
                                    </div>
                                </a>
								{% endif %}
                                {% endfor %}
								
								
                                <a class="dropdown-item text-center small text-gray-500" href="#">Show All Notifications</a> 
                            </div>
							
							
							
                        </li>
						{% endif %}
                        

                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{data.userinfo['nickname']}}</span>
                                <img class="img-profile rounded-circle" src="/static/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                aria-labelledby="userDropdown">
                                
                                <!--<div class="dropdown-divider"></div>-->
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->