<!DOCTYPE html>
<html lang="en">

<head>

    {%- include('/includes/head.html') %}
	
	
	<title>
		{% if data.page == 'admin-user' %}
		Admin | User List
		{% endif %}
	</title>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        {%- include('/includes/sidebar.html') %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                {%- include('/includes/topbar.html') %}

                <!-- Begin Page Content -->
					<div class="container-fluid">
						<!-- Page Heading -->
						
								<div class="row mb-2  mt-2">
										<a href="/create-user" class="buttonbar selected-btn-info btn-icon-split ml-3" >
											<span class="text"><b>Create User</b></span>
										</a>

								
								</div>
								
					{% if data.page == 'user-list' %}
					
					{%- include('/includes/user_table.html') %} 
					
					{% elif data.page == 'projects' %}
					<hr>
					{%- include('/includes/project_list.html') %}
					
					{% endif %}
					</div>
				<!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

             {%- include('/includes/footer.html') %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    {%- include('/includes/logout_prompt.html') %}

    {%- include('/includes/js_imports.html') %}

</body>

</html>